#b3{
	
	border-left: 3px solid black ;
	border-top: 3px solid black ;
	border-bottom: 3px solid black ;
	height: 150px;
	background-color: lightblue;
	text-align: right;
	color: white;
	padding-top: 50px;

 
}
#b4{
	color: white;
	
	border-left: 3px solid black ;
	border-top: 3px solid black ;
	border-bottom: 3px solid black ;
	height: 150px;
	background-color: lightblue;
	text-align: left;
	padding-top: 50px;
}
#b5{
	text-align: center;
	color: white ;
	border-right: vr brown;
	border-left: 3px solid black ;
	border-top: 3px solid black ;
	border-bottom: 3px solid black ;
	height: 150px;
	background-color: lightblue;
	padding-top: 50px;
 
}
#f3{
	background-color: yellow;
	border-right: 0px solid black ;
	border-top: 3px solid black ;
	border-bottom: 3px solid black ;
	height: 150px;
	text-align: right;
	color: white;
	padding-top: 50px;

 
}
#f4{
	color: white;
	
	border-left: 3px solid black ;
	border-right: 3px solid black ;
	border-top: 3px solid black ;
	border-bottom: 3px solid black ;
	height: 150px;
	background-color: yellow;
	text-align: left;
	padding-top: 50px;
}
#f5{
	border-right: vr brown;
	border-left: 4px solid black ;
	border-right: 3px solid black ;
	border-bottom: 3px solid black ;
	height: 150px;
}
#z3{
	
	border-left: 3px solid black ;
	border-top: 3px solid black ;
	border-bottom: 3px solid black ;
	height: 150px;
	background-color: lightgreen;
	text-align: right;
	color: white;
	padding-top: 50px;
}
#z4{
	color: white;
	
	border-left: 3px solid black ;
	border-top: 3px solid black ;
	border-bottom: 3px solid black ;
	height: 150px;
	background-color: lightgreen;
	text-align: left;
	padding-top: 50px;
}
#z5{
	text-align: center;
	color: white ;
	border-right: vr brown;
	border-left: 3px solid black ;
	border-top: 3px solid black ;
	border-bottom: 3px solid black ;
	height: 150px;
	background-color: lightgreen;
	padding-top: 50px;
 
}
#a2{
	border-bottom: 4px solid black;
	border-top: 4px solid black;

}